button {
    width: 100%;
    margin-top: 5px;
}

html {
    width: 450px; /* max: 800px */
    height: 600px; /* max: 600px more than this will cause a scrollbar */ 
}


footer {
    min-height: 50px;
}



